NAVIDROME_URL=https://navidrome.example.com
NAVIDROME_USER=admin
NAVIDROME_PASSWORD=changeme
# PLAYER_URL=https://navidromster.example.com
# NAVIDROMSTER_INSECURE=1
# PORT=8000
# NAVIDROMSTER_USER=cards
# NAVIDROMSTER_PASSWORD=changeme
